<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link
      rel="stylesheet"
      href="static/styles/main.css"
    />

    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
    ></script>

    <!-- Incluir el CSS de Fancybox -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
    />

    <!-- Incluir jQuery y Fancybox JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <title>PatternType</title>
  </head>
  <body>
    <div class="row">
      <div id='toc' class='col-3 pt-4 d-none d-xl-block bg-light px-5'>
        <div class="container">
          <h4 class="options text-secundary pb-2">Table of Contents</h4>
          {%for header in header_list %}
          <p><a href="#{{header}}">{{header}}</a></p>
          {% endfor %}
        </div>
      </div>
 
      <div id="content" class="col-12 col-xl-9 px-0 ms-auto">
        <!--Navbar-->
        <header>
          <nav class="navbar navbar-expand-lg navbar-light py-3 text-dark">
            <div class="container">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto fw-bold mx-4">
                  <li class="nav-item">
                    <a class="nav-link active" href="PatternType.html"
                      >Patterns Type</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="PatternName.html"
                      >Patterns Name</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Structure.html"
                      >Structures</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

        <!--Showcase-->
        <section class="showcase pt-5 px-5 text-light">
          <div class="container">
            <h1 id="title" class="pt-4 pb-2">Ontologies Visualization</h1>
          </div>
        </section>

        <div class="container">
          {% if error_message %}
          <div class="alert alert-danger" role="alert">{{ error_message }}</div>
          {% endif %}
          <section id="specification-ontologists" class="pt-5 px-5">
            {% for key_pattern, pattern in pattern_content_type.items() %}{% if loop.first %}
            <h4 id="{{ key_pattern }}">{{ key_pattern }}</h4>
            {% else %}
            <h4 id="{{ key_pattern }}" class="pt-5">{{ key_pattern }}</h4>
            {% endif %}

            <!--Diagram and image-->
            <div id="container-patterntype">
              <div id="container-diagram-ontologie">
                <p><code>{{ pattern[0]|safe }}</code></p>
              </div>
              <div id="container-image-patterntype">
                <p>
                    <!-- Image -->
                    {% if "No image available" in pattern[4] %}
                    <div class="alert alert-danger" role="alert">{{pattern[4]}}</div>
                    {% else %}
                    <a href="{{ pattern[4] }}" data-fancybox>
                      <img src="{{ pattern[4] }}" alt="img type {{ pattern[4] }}" />
                    </a>
                    {% endif %}
                </p>
              </div>
            </div>
            <!--Times-->
            <p>
              {{ pattern[1] }}
            </p> 
            <!--Number of ontologies-->
            <p>
              {{ pattern[2]|safe }}
            </p>
            <!--List of structures-->
            <p>Structures in which it appears:
              {% if not pattern[3]%}
                <div class="alert alert-danger" role="alert">No CSV data found for this pattern.</div>
              {% else %}
                {% for structures in pattern[3] %} 
                {% for key, value in structures.items()  %} 
                    <!--Generamos un id único-->
                    {% set id = 'collapse_' ~ key_pattern.replace(' ', '_') ~ '_' ~ loop.index %} 
                    <p class="d-inline-flex gap-1">
                        <a class="btn custom-btn" data-bs-toggle="collapse" href="#{{ id }}" role="button" aria-expanded="false" aria-controls="{{ id }}">
                            {{ key }}
                        </a>
                    </p>
                    <div class="collapse" id="{{ id }}" style="margin-left: 20px;">
                          {% for structure in value %}
                            <!--<span class="badge custom-badge mb-4">{{ structure }}</span> --> 
                          {% set id_structure = 'collapse_' ~ structure.replace(".","_") ~ '_' ~ loop.index %}
                          <p class="d-inline-flex gap-1">
                            <a class="btn custom-btn-structure" data-bs-toggle="collapse" href="#{{ id_structure }}" role="button" aria-expanded="false" aria-controls="{{ id_structure }}">
                              {{ structure }}
                            </a> 
                          </p>
                          <div class="collapse pb-4" id="{{ id_structure }}" style="margin-left: 20px;">
                            {% if error_message_structure %}
                            <div class="alert alert-danger" role="alert">{{ error_message_structure }}</div>
                            {% else %}
                            <code>{{ content_blank_nodes[structure] | safe}}</code>
                            {% endif %}
                          </div>
                          {% endfor %}
                    </div>  
                {% endfor %}
                {% endfor %}
              {% endif %}
            
            </p>
            
            {% endfor %}
          </section>

          <!-- Configuración de Fancybox y Estilos Personalizados -->
          <style>
            .fancybox-bg {
                background-color: rgba(0, 0, 0, 0.35); 
            }     
            .fancybox-toolbar {
                background-color: rgb(0, 0, 0); 
            }         
            .fancybox-toolbar * {
                color: #fff;
            }
          </style>
          <script>
            $("[data-fancybox]").fancybox({
              // Opciones de configuración
              buttons: [
                "share",
                "slideShow",
                "fullScreen",
                "download",
                "thumbs",
                "close",
              ],
              width: $(window).width() * 0.8, // 80% del ancho de la ventana
              height: $(window).height() * 0.8, // 80% de la altura de la ventana
            });
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
